body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 32px;
  color: #293c4b;
}

.spacer-12 {
    padding: 12px;
}

.graph-svg {
  font-size: 11px;
}

.graph-node {
    fill: #000;
    stroke: transparent;
    stroke-width: 7px;
}

.graph-node:hover {
    fill: #0275D8;
}

.graph-link {
    stroke-width: 1;
    stroke: #aaa;
}

.delete-sure {
    color: red;
}
